@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #050505;
}

.font-serif-heading {
  font-family: 'Instrument Serif', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

@keyframes shimmer {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.animate-shimmer {
  animation: shimmer 5s linear infinite;
}

.passero-one-regular {
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
