@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #050505;
}


/* import Instruments Serif font */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@400;500;600;700&display=swap');

/* Define utility classes */
.font-serif-heading {
  font-family: 'Instrument Serif', serif;
}
.font-inter {
  font-family: 'Inter', sans-serif;
}